body {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

#canvasOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    /* margin: 0 0 0 28.8%; */
}

#canvasLabelText, ion-icon, #canvasSizeInput, #updCanvas {
    font-size: clamp(0.4rem, 1.4vw, 4.5rem);
    font-weight: bold;
}

input#canvasSizeInput {
    width: clamp(24px, 5.7vw, 210px);
}

input#canvasSizeInput, button#updCanvas {
    margin-left: 0.6vw;
    display: flex;
    align-items: center;
    border: 0.3vh solid grey;
    border-radius: 0.4vw;
    padding: 1.5px;
}

button#updCanvas {
    width: clamp(31.5px, 6.3vw, 360px);
}

button#updCanvas.rdyGreen {
    background-color: green;
    color: white;
}

#updCanvasTxt {
    width: 100%;
}

#colorSelection {
    display: grid;
    grid-gap: 0.3vw;
    grid-template-columns: repeat(2, 0fr);
    position: absolute;
    grid-template-rows: repeat(9, 0fr);
    margin-right: 90vw;
    background-color: #c4cbd5;
    padding: 0.4vw;
    border: 0.35vw solid #9397a5;
    border-radius: 0.8vw;
    /* max-width: 5.3vw; */
    /* min-height: 28vw; */
}

.btnColorOpt {
    width: 48px;
    height: 48px;
    border-radius: 1vw;
    border: 0.11vw solid #e9ecfe;
    padding: 0;
    opacity: 65%;
    min-width: 2.5vw;
    min-height: 2.5vw;
    max-width: 3.5vw;
    max-height: 3.5vw;
}

.clicked {
    /* border: 0.2vw dashed black; */
    opacity: 100%;
    border-style: ridge;
    border-width: 0.26vw;
}

#red.btnColorOpt, #red.canvasBox {
    background-color: red;
}

#darkRed.btnColorOpt, #darkRed.canvasBox {
    background-color:darkred;
}

#orange.btnColorOpt, #orange.canvasBox {
    background-color: orange;
}

#darkOrange.btnColorOpt, #darkOrange.canvasBox {
    background-color: darkorange;
}

#yellow.btnColorOpt, #yellow.canvasBox {
    background-color: yellow;
}

#darkYellow.btnColorOpt, #darkYellow.canvasBox {
    background-color: rgb(139, 139, 0);
}

#green.btnColorOpt, #green.canvasBox {
    background-color: green;
}

#darkGreen.btnColorOpt, #darkGreen.canvasBox {
    background-color: darkgreen;
}

#cyan.btnColorOpt, #cyan.canvasBox {
    background-color: cyan;
}

#darkCyan.btnColorOpt, #darkCyan.canvasBox {
    background-color: darkcyan;
}

#blue.btnColorOpt, #blue.canvasBox {
    background-color: blue;
}

#darkBlue.btnColorOpt, #darkBlue.canvasBox {
    background-color: darkblue;
}

#violet.btnColorOpt, #violet.canvasBox {
    background-color: violet;
}

#darkViolet.btnColorOpt, #darkViolet.canvasBox {
    background-color: darkviolet;
}

#pink.btnColorOpt, #pink.canvasBox {
    background-color: hotpink;
}

#darkPink.btnColorOpt, #darkPink.canvasBox {
    background-color: deeppink;
}

#black.btnColorOpt, #black.canvasBox {
    background-color: black;
}

#grey.btnColorOpt, #grey.canvasBox {
    background-color: grey;
}

#white.btnColorOpt, #white.canvasBox {
    background-color: white;
}

#silver.btnColorOpt, #silver.canvasBox {
    background-color: silver;
}

#canvasCurrentSize {
    align-items: center;
    text-align: center;
    font-size: clamp(0.4rem, 1.3vw, 4.5rem);
    margin-top: 1.5vw;
    margin-bottom: 0.5vw;
    font-weight: bold;
}

#canvasSection {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#canvas {
    height: 800px;
    width: 800px;
    display: grid;
    grid-gap: 0px;
    border: 0.5px solid rgb(65, 65, 65);
    /* margin-left: 22vw; */
    max-width: 80vw;
    max-height: 80vw;
    min-width: 41vw;
    min-height: 41vw;
}

.canvasBox {
    border-radius: 0px;
}

.canvasBox, .btnColorOpt, .canvasBox, button#updCanvas {
    transition: transform .2s;
}

.canvasBox:hover, .btnColorOpt:hover, .canvasBox:hover, button#updCanvas:hover {
    transform: scale(1.2);
}